

header{
    color:rgb(135, 0, 0);
    font-size: xx-large;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body{
    background-color: black;
    color: white;
}

footer{
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    color:grey;
}
#post-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.item{
    gap: 100px;
    
}

.hidden{
    display: none;
}

.title{
  display: block;       /* 블록 요소로 만들어서 */
  white-space: normal;  /* 줄바꿈 허용 */
  word-break: break-word; /* 단어 중간에서도 줄바꿈 가능 */
  max-width:400px;
}